<!DOCTYPE html>
<html>
<head>
    <title>系统首页</title>
    <#include "/header.html">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/fonts/iconfont/iconfont.css">
</head>
<body style="background-color: transparent;padding: 5px 5px 0 5px;">

<section class="dc-home" id="app" v-cloak>
    <div class="module-one">
        <img src="${request.contextPath}/statics/images/bg.jpg">
    </div>
</section>

<script src="${request.contextPath}/statics/libs/echarts.common.min.js"></script>
<script src="${request.contextPath}/statics/js/man.js"></script>
<script>

</script>
</body>
</html>