<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>风格展示</title>
    <link href="${request.contextPath}/statics/css/style-main.css" rel="stylesheet" type="text/css"/>
    <link href="${request.contextPath}/statics/css/sim-prev-anim.css" rel="stylesheet" type="text/css" />
</head>
<body>

<!-- 代码部分begin -->
<div class="albums">
    <div class="albums-inner">

        <div class="albums-tab">
            <div class="albums-tab-thumb sim-anim-1">
                <img src="${request.contextPath}/statics/images/j-7.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-2.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-3.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-4.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-5.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-6.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-1.png" class="all studio"/>
            </div>
            <div class="albums-tab-text">吉安拍摄-1 <span></span></div>
        </div>

        <div class="albums-tab">
            <div class="albums-tab-thumb sim-anim-2">
                <img src="${request.contextPath}/statics/images/j-5.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-1.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-3.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-4.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-2.png" class="all studio"/>
            </div>
            <div class="albums-tab-text">吉安拍摄-2 <span></span></div>
        </div>


        <div class="albums-tab">
            <div class="albums-tab-thumb sim-anim-3">
                <img src="${request.contextPath}/statics/images/j-9.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-2.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-1.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-4.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-5.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-6.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-7.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-8.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-3.png" class="all studio"/>
            </div>
            <div class="albums-tab-text">吉安拍摄-3 <span></span></div>
        </div>


        <div class="albums-tab">
            <div class="albums-tab-thumb sim-anim-4">
                <img src="${request.contextPath}/statics/images/j-9.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-2.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-3.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-4.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-5.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-6.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-7.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-8.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-4.png" class="all studio"/>
            </div>
            <div class="albums-tab-text">吉安拍摄-4 <span></span></div>
        </div>

        <div class="albums-tab">
            <div class="albums-tab-thumb sim-anim-5">
                <img src="${request.contextPath}/statics/images/j-1.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-2.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-3.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-4.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-5.png" class="all studio"/>
            </div>
            <div class="albums-tab-text">吉安拍摄-5 <span></span></div>
        </div>


        <div class="albums-tab">
            <div class="albums-tab-thumb sim-anim-6">
                <img src="${request.contextPath}/statics/images/j-9.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-2.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-3.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-4.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-5.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-1.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-7.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-8.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-6.png" class="all studio"/>
            </div>
            <div class="albums-tab-text">吉安拍摄-6 <span></span></div>
        </div>


        <div class="albums-tab">
            <div class="albums-tab-thumb sim-anim-7">
                <img src="${request.contextPath}/statics/images/j-1.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-2.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-3.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-7.png" class="all studio"/>
            </div>
            <div class="albums-tab-text">吉安拍摄-7 <span></span></div>
        </div>

        <div class="albums-tab">
            <div class="albums-tab-thumb sim-anim-8">
                <img src="${request.contextPath}/statics/images/j-9.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-2.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-3.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-4.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-5.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-6.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-7.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-1.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-8.png" class="all studio"/>
            </div>
            <div class="albums-tab-text">吉安拍摄-8 <span></span></div>
        </div>

        <div class="albums-tab">
            <div class="albums-tab-thumb sim-anim-9">
                <img src="${request.contextPath}/statics/images/j-1.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-2.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-3.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-4.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-5.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-6.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-7.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-8.png" class="all studio"/>
                <img src="${request.contextPath}/statics/images/j-9.png" class="all studio"/>
            </div>
            <div class="albums-tab-text">吉安拍摄-9 <span></span></div>
        </div>


    </div>
</div>
<!-- 代码部分end -->
</body>
</html>

